<section class="instructions">
  <h1>Instructions</h1>
  <div class="instrucitons--add">
    <h3>Add a Person</h3>
    <mat-list role="list">
      <mat-list-item role="listItem">Fill in person's name, age, and weight.</mat-list-item>
      <mat-list-item role="listItem">Optionally fill in the person's friends. There will not be friends availible in the
        multi-select until at least 1 person has been added.</mat-list-item>
      <mat-list-item role="listItem">Click 'Save Person' button.</mat-list-item>
    </mat-list>
  </div>
  <div class="instrucitons--chart">
    <h3>Understanding the Visualization</h3>
    <mat-list role="list">
      <mat-list-item role="listItem">The size of the cricle is directly related to the person's weight.</mat-list-item>
      <mat-list-item role="listItem">The color of the circle indicates the person's age range and the legend can be
        referenced for determining their range.</mat-list-item>
      <mat-list-item role="listItem">The links between circles show the 'friends' relationship.</mat-list-item>
      <mat-list-item role="listItem">You can drag the circles around for some fun animations!</mat-list-item>
    </mat-list>
  </div>
</section>