@import '~@angular/material/theming';
@include mat-core();

$md-primaryPalette: (
    50 : #fff4e0,
    100 : #ffe3b3,
    200 : #ffd080,
    300 : #ffbd4d,
    400 : #ffae26,
    500 : #ffa000,
    600 : #ff9800,
    700 : #ff8e00,
    800 : #ff8400,
    900 : #ff7300,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd8bf,
    A700 : #ffc9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accentPalette: (
    50 : #e0f7fa,
    100 : #b3ebf2,
    200 : #80deea,
    300 : #4dd0e1,
    400 : #26c6da,
    500 : #00bcd4,
    600 : #00b6cf,
    700 : #00adc9,
    800 : #00a5c3,
    900 : #0097b9,
    A100 : #e2f9ff,
    A200 : #afeeff,
    A400 : #7ce3ff,
    A700 : #63ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-primary: mat-palette($md-primaryPalette);
$app-accent: mat-palette($md-accentPalette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $app-warn: mat-palette($md-brsred);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);